.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-principal {
    display: flex;
    width: 100%;
}

.home-friends,
.categories-container {
    width: 22.5%;
    max-width: 300px;
}

.categories-container {
    display: flex;
    flex-direction: column;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.category p {
    color: inherit;
    font-weight: 600;
    font-size: 17px;
}

.category p:last-child {
    padding: 3px 8px;
    color: inherit;
    border: 1px solid;
    border-color: inherit;
    border-radius: 3px;
}

.category-select {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
}

.home-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 65%;
    max-width: 100%;
    min-height: 100vh;
}

.home-friends {}

.profile-friend {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    transition: all ease 0.4s;
    cursor: pointer;
}

.profile-friend img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    object-position: center;
}

.profile-friend p {
    font-weight: 600;
    font-size: 16px;
    color: inherit;
}

.profile-friend:hover {
    background-color: var(--secondary-color);
    color: white;
}

.post {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 8px gray;
    min-width: 300px;
    max-width: 300px;
    height: max-content;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.post>div>* {
    margin-top: 10px;
}

.post>a>img {
    object-fit: cover;
    max-width: 300px;
    max-height: 250px;
    border-radius: 5px 5px 0 0;
}

.post>div {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
}

.post>div>h1 {
    font-size: 21px;
    font-weight: 600;
}

.post>div>p {
    color: gray;
    font-size: 14px;
}

.post-categories {
    display: flex;
    flex-wrap: wrap;
}

.post-category {
    padding: 7px 10px;
    color: black;
    background-color: whitesmoke;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
    transition: 0.4s ease all;
    border-radius: 3px;
}

.post-category:hover {
    background-color: var(--primary-color);
    color: white;
}

.product-owner {
    display: flex;
    align-items: center;
}

.product-owner img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.product-owner p {
    color: gray;
    font-size: 16px;
}

.home-loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    height: max-content;
}

.home-loading svg {
    width: 100px;
    fill: var(--primary-color);
}

.category-header-select {
    display: flex;
    padding: 0px 30px;
    width: 100%;
    height: max-content;
}

.category-header-select p {
    font-size: 70px;
    font-weight: bold;
    border-bottom: 5px solid black;
    text-align: left;
    width: 100%;
}

.no-connection-svg {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.no-connection-svg img {
    width: 400px;
    height: 350px;
    object-fit: contain;
}

.no-connection-svg>h1 {
    padding: 15px 0px;
    font-size: 50px;
    color: gray;
}