.sendMessage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.sendMessage-input {
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    background-color: white;
    border-radius: 20px;
}

.sendMessage-input>h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    margin-bottom: 15px;
}

.sendMessage-input>h1>svg {
    cursor: pointer;
}

.sendMessage-input>textarea {
    resize: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
}

.sendMessage-input>textarea :focus {
    border: 2px solid var(--secondary-color);
}

.sendMessage-input>div {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.sendMessage-input>div>svg {
    fill: var(--primary-color);
    width: 70px;
    height: 70px;
    padding: 10px;
}

.sendMessage-input>div>button {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 13px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
}