.sendMessage-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0px 20%;
}

.prevMessage,
.sendMessage-input {
    border-radius: 20px;
    background-color: white;
    padding: 30px 70px;
}

.prevMessage {
    width: 100%;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 35px;
}

.sendMessage-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sendMessage-input>h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    margin-bottom: 15px;
}

.sendMessage-input>h1>svg {
    cursor: pointer;
}

.sendMessage-input>textarea {
    resize: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
}

.sendMessage-input>textarea:focus {
    border: 2px solid var(--secondary-color);
}

.sendMessage-input>div {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}

.sendMessage-input>div>svg {
    fill: var(--primary-color);
    width: 70px;
    height: 70px;
    padding: 10px;
}

.sendMessage-input>div>button {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 13px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .sendMessage-container {
        padding: 0px 10%;
    }
    .sendMessage-input>h1 {
        font-size: 28px;
    }
    .prevMessage {
        font-size: 29px;
    }
    .sendMessage-input>textarea {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .prevMessage,
    .sendMessage-input {
        padding: 20px 35px;
    }
    .sendMessage-input>div>button {
        padding: 10px 20px;
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .sendMessage-container {
        padding: 0px 20px;
    }
    .sendMessage-input>h1 {
        font-size: 22px;
    }
    .prevMessage {
        font-size: 22px;
    }
    .sendMessage-input>textarea {
        font-size: 15px;
    }
}

@media screen and (max-width: 330px) {
    .prevMessage,
    .sendMessage-input {
        padding: 15px 25px;
    }
    .sendMessage-input>h1 {
        font-size: 19px;
    }
    .prevMessage {
        font-size: 19px;
    }
    .sendMessage-input>textarea {
        font-size: 14px;
    }
}