.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 60px;
}

.navBar>a>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
}

.navBar>div {
    display: flex;
    align-items: center;
}

.add-product {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.search-icon {
    margin-right: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    fill: black;
}

.search-icon>svg {
    fill: inherit;
}

.search-icon:hover {
    fill: var(--primary-color);
}

.add-product {
    margin-right: 20px;
    transition: all ease 0.4s;
}

.add-product:hover {
    transform: scale(1.1);
}

.navBar>div>section a {
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    transition: 0.4s all ease;
}

.navBar>div>section a:first-child:hover {
    color: var(--primary-color);
}

.navBar>div>section a:last-child {
    border: 2px solid gray;
}

.navBar>div>section a:last-child:hover {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
}

.profilePhoto {}

.profilePhoto section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profilePhoto img,
.no-picture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.no-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

@keyframes navBarAnimation {
    to {
        opacity: 1;
        transform: translateY(65px);
    }
}

.profile-photo-options {
    box-shadow: 3px 3px 5px gray;
    position: absolute;
    background-color: white;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    transform: translateY(65px);
    padding: 5px 30px;
    /*POSICION ANIMACION*/
    transform: translateY(-25px);
    opacity: 0.3;
    animation-name: navBarAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.photo-option {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.photo-option>p {
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color: inherit;
}

.photo-option svg {
    fill: inherit;
}

.photo-option:hover {
    fill: var(--primary-color);
    color: var(--primary-color);
}