.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 45px;
}

.navBar>a>img {
    width: 250px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
}

.navBar>div {
    display: flex;
    align-items: center;
}

.add-product {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 15px 15px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin-right: 20px;
    transition: all ease 0.4s;
    fill: white;
}

.add-product>svg {
    fill: inherit;
}

.search-icon:hover {
    fill: var(--primary-color);
}

.add-product:hover {
    transform: scale(1.1);
}

.navBar>div>section a {
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 20px;
    color: black;
    transition: 0.3s all ease;
}

.navBar>div>section a:first-child:hover {
    color: var(--primary-color);
}

.navBar>div>section a:last-child {
    border: 2px solid gray;
}

.navBar>div>section a:last-child:hover {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
}

.profilePhoto section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profilePhoto img,
.no-picture {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.no-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}

@keyframes navBarAnimation {
    to {
        opacity: 1;
        transform: translateY(65px);
    }
}

.profile-photo-options {
    box-shadow: 3px 3px 5px gray;
    position: absolute;
    background-color: white;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    transform: translateY(65px);
    padding: 5px 30px;
    /*POSICION ANIMACION*/
    transform: translateY(-25px);
    opacity: 0.3;
    animation-name: navBarAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.photo-option {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.photo-option>p {
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color: inherit;
}

.photo-option svg {
    fill: inherit;
}

.photo-option:hover {
    fill: var(--primary-color);
    color: var(--primary-color);
}

.navBar-mail-notifications {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
}

.notification-open {
    fill: var(--secondary-color);
}

.notification-close {
    fill: black;
}

.navBar-mail-notifications>svg {
    fill: inherit;
    transition: 0.3s ease all;
}

.mail-notifications {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 8px;
    border-radius: 15px;
    position: absolute;
    background-color: white;
    transform: translateY(50px);
}

.mail-notifications>div {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    transition: 0.3s ease all;
    cursor: pointer;
    border-radius: 15px;
    justify-content: space-between;
}

.mail-notifications>div:hover {
    background-color: whitesmoke;
}

.mail-notifications>div>p {
    font-size: 16px;
    font-weight: 500;
}

.mail-notifications>div>section {
    display: flex;
    align-items: center;
}

.mail-notifications>div>section>svg {
    position: relative;
    top: 1px;
}

.mail-notifications>div>section>button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 500;
    margin: 0px 15px;
    cursor: pointer;
}

.mail-notifications>h1 {
    padding: 12px 20px;
    color: gray;
    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .navBar {
        padding: 10px 40px;
    }
}

@media screen and (max-width: 800px) {
    .add-product {
        padding: 10px;
    }
    .mail-notifications>div {
        padding: 10px 20px;
    }
    .mail-notifications>div>p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .navBar {
        padding: 10px 25px;
    }
    .navBar>a>img {
        width: 150px;
        height: 60px;
    }
    .navBar>div>section a {
        font-size: 16px;
        padding: 10px 20px;
    }
    .navBar-mail-notifications {
        margin-right: 25px;
    }
}

@media screen and (max-width: 500px) {
    .navBar {
        padding: 10px 25px;
    }
    .navBar>a>img {
        width: 50px;
    }
    .profilePhoto img,
    .no-picture {
        width: 35px;
        height: 35px;
    }
    .navBar-mail-notifications {
        width: 30px;
        height: 30px;
    }
    .mail-notifications {
        transform: translateY(35px);
    }
    @keyframes navBarAnimation {
        to {
            opacity: 1;
            transform: translateY(40px);
        }
    }
    .mail-notifications>div {
        padding: 10px 15px;
        border-radius: 11px;
    }
    .mail-notifications>div>p {
        font-size: 13px;
    }
    .mail-notifications>div>section>button {
        font-size: 13px;
        margin: 0px 10px;
    }
    .add-product {
        padding: 10px;
    }
    .add-product>svg {
        width: 15px;
        height: 15px;
    }
}